@import "base";
@import "vars";

#main-description {
  margin-bottom: 10px;
}

#ounce-note {
  margin-top: 5px;
  border: 2px solid @grey;
  border-radius: @border-radius;
  padding: 9px;
  font-size: 11px;
  max-width: 315px;
  display: flex;
}

#ounce-note-icon {
  font-size: 19px;
  margin-right: 10px;
  margin-top: 4px;
}

.ounce-info {
  display: flex;
}

#ounce-note-text {
  align-self: center;
}

#text-entry {
  resize: none;
  border: 1px solid @mid-dark-grey;
  border-radius: @border-radius;
  height: 60vh;
  margin-right: 10px;
  flex: 0 1 50%;
  padding: 10px;
  &:focus {
    outline: none;
    box-shadow: 0 0 1pt 1pt @orange;
  }
  .base-text-style
}

.exclamation {
  color: @dark-grey;
}

#result-text {
  flex: 0 1 50%;
  background: @light-grey;
  border-radius: @border-radius;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px;
  overflow: scroll;
  max-height: 60vh;
}

.loaded-text {
  transition: opacity 0.2s ease;
}

.result-text-loading {
  opacity: 0.3;
}

#convert-area {
  display: flex;
}

@media all and (max-width: 1100px) {
  #convert-area {
    flex-direction: column;
    width: 100%;
  }

  #text-entry {
    min-height: 180px;
    max-height: 180px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  #result-text {
    min-height: 180px;
    max-height: 180px;
  }
}

@media all and (max-width: 550px) {
  #main-description {
    padding-top: 85px;
  }

  #text-entry {
    font-size: 0.9rem;
    min-height: 100px;
    max-height: 100px;
  }

  #result-text {
    font-size: 0.9rem;
    min-height: 100px;
    max-height: 100px;
  }
}
