@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400italic,400,500,500italic,700,700italic,900,900italic);
@import "vars";
@import "base";
@import "header";
@import "buttons";
@import "spinner";
@import "about";
@import "convert";

@media all and (max-width: 1100px) {
    #button-area {
        flex-direction: column;
        border: 2px solid @light-grey;
        border-radius: @border-radius;
    }

    .button-group {
        border: none;
    }

    #left-button-group {
        border: none;
    }

    #right-button-group {
        border: none;
    }

    #pagewrap {
        width: 90%;
    }

    #main-nav {
        width: 90%;
    }

    #copy {
        margin-left: -11px;
        margin-top: 200px;
    }

    .tooltip {
        font-size: 11px;
        width: 100px;
        left: 80%;
    }

    #footer {
        margin-top: 60px;
    }
}

@media all and (max-width: 550px) {
    .button {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .button-group-headline {
        margin-bottom: 10px;
    }

    .to-button-group-headline {
        margin-bottom: 10px;
    }

    #button-area {
        flex-direction: row;
    }

    #left-button-group {
        display: flex;
        flex-direction: column;
    }

    #right-button-group {
        display: flex;
        flex-direction: column;
    }

    #text-entry {
        height: 100px;
    }

    #result-text {
        height: 100px;
    }

    #copy {
        margin-top: 120px;
    }
}
