@page-width: 980px;
@grey: #E9E9E9;
@light-grey: #F5F5F5;
@mid-dark-grey: #B3B3B3;
@dark-grey: #424242;
@orange: #FA6900;
@border-radius: 10px;

.base-text-style {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    color: @dark-grey;
    .base-text-style
}

a {
    color: @dark-grey;
    &:hover {
        color: @mid-dark-grey;
    }
}

#main-description {
    margin-bottom: 10px;
}

#text-entry {
    resize: none;
    border: 1px solid @mid-dark-grey;
    border-radius: @border-radius;
    height: 60vh;
    margin-right: 10px;
    flex: 0 1 50%;
    padding: 10px;
    .base-text-style
}

#result-text {
    flex: 0 1 50%;
    background: @light-grey;
    border-radius: @border-radius;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    overflow: scroll;
    max-height: 70vh;
}

#convert-area {
    display: flex;
}

#main {
    background: @light-grey;
}

#pagewrap {
    margin: 0 auto;
    width: @page-width;
}

#header {
    position: relative;
    height: 70px;
    margin-bottom: 20px;
    background-color: @grey;
}

#app-nav-name {
    font-size: 25px;
    font-weight: 200;
    text-decoration: none;
    color: @orange;
}

#app-name-text {
    color: @orange;
}

#main-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: inherit;
    width: @page-width;
}

#about-nav {
    margin-left: auto;
    align: right;
    margin-top: 10px;
    font-size: 12px;
}

#button-area {
    margin-bottom: 10px;
    display: flex;
}

.button-group-headline {
    color: @mid-dark-grey;
    margin-right: 20px;
}

.to-button-group-headline {
    color: @mid-dark-grey;
    margin-right: 40px;
}

.button-group {
    flex: 0 1 50%;
    border: 2px solid @grey;
    padding: 10px;
    border-radius: @border-radius;
    display: inline-flex;
}

#left-button-group {
    margin-right: 10px;
    .button-group;
}

#right-button-group {
    .button-group;
}

.button {
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    background-color: white;
    border: 1px solid @orange;
    padding: 9px 19px 9px 19px;
    color: @orange;

    &:hover {
        background-color: @grey;
        border: 1px solid @grey;
    }
}

.active-button {
    background-color: @orange;
    color: white;
    border: 1px solid @orange;

    &:hover {
        background-color: @orange;
        border: 1px solid @orange;
    }
}

@media all and (max-width: 1000px) {
    #convert-area {
        flex-direction: column;
        width: 100%;
    }

    #text-entry {
        height: 180px;
        margin-right: 0;
        margin-bottom: 5px;
    }

    #result-text {
        height: 180px;
    }

    #button-area {
        flex-direction: column;
        border: 2px solid @light-grey;
        border-radius: @border-radius;
    }

    .button-group {
        border: none;
    }

    #left-button-group {
        border: none;
    }

    #right-button-group {
        border: none;
    }

    #pagewrap {
        width: 90%;
    }

    #main-nav {
        width: 90%;
    }
}

@media all and (max-width: 550px) {
    .button {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .button-group-headline {
        margin-bottom: 10px;
    }

    .to-button-group-headline {
        margin-bottom: 10px;
    }

    #button-area {
        flex-direction: row;
    }

    #left-button-group {
        display: flex;
        flex-direction: column;
    }

    #right-button-group {
        display: flex;
        flex-direction: column;
    }
}
