@page-width: 980px;
@grey: #E9E9E9;
@light-grey: #F5F5F5;
@mid-dark-grey: #B3B3B3;
@dark-grey: #424242;
@orange: #FA6900;
@border-radius: 10px;

.base-text-style {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    color: @dark-grey;
    .base-text-style
}

a {
    color: @dark-grey;
    &:hover {
        color: @mid-dark-grey;
    }
}

#main-description {
    margin-bottom: 10px;
}

#text-entry {
    resize: none;
    border: 1px solid @mid-dark-grey;
    border-radius: @border-radius;
    height: 60vh;
    margin-right: 10px;
    flex: 0 1 50%;
    padding: 10px;
    &:focus {
        outline: none;
        box-shadow: 0 0 1pt 1pt @orange;
    }
    .base-text-style
}

#result-text {
    flex: 0 1 50%;
    background: @light-grey;
    border-radius: @border-radius;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    overflow: scroll;
    max-height: 70vh;
}

#convert-area {
    display: flex;
}

#main {
    background: @light-grey;
}

#pagewrap {
    margin: 0 auto;
    width: @page-width;
}

#header {
    position: relative;
    height: 70px;
    margin-bottom: 20px;
    background-color: @grey;
}

#app-nav-name {
    font-size: 25px;
    font-weight: 200;
    text-decoration: none;
    color: @orange;
}

#app-name-text {
    color: @orange;
}

#main-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: inherit;
    width: @page-width;
}

#about-nav {
    margin-left: auto;
    align: right;
    margin-top: 10px;
    font-size: 12px;
}

#button-area {
    margin-bottom: 10px;
    display: flex;
}

.button-group-headline {
    color: @mid-dark-grey;
    margin-right: 20px;
}

.to-button-group-headline {
    color: @mid-dark-grey;
    margin-right: 40px;
}

.button-group {
    flex: 0 1 50%;
    border: 2px solid @grey;
    padding: 10px;
    border-radius: @border-radius;
    display: inline-flex;
}

#left-button-group {
    margin-right: 10px;
    .button-group;
}

#right-button-group {
    .button-group;
}

.button {
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    background-color: white;
    border: 1px solid @orange;
    padding: 9px 19px 9px 19px;
    color: @orange;

    &:hover {
        background-color: @grey;
        border: 1px solid @grey;
    }
}

.active-button {
    background-color: @orange;
    color: white;
    border: 1px solid @orange;

    &:hover {
        background-color: @orange;
        border: 1px solid @orange;
    }
}

#copy {
    position: absolute;
    margin-left: 480px;
    margin-bottom: 5px;
    cursor: pointer;
    background: @light-grey;
    padding: 5px 6px 1px 8px;
    border-radius: @border-radius;
    box-shadow: 4px 4px 4px #888888;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.hidden {
    opacity: 0;
}

#clipboard {
    height: 20px;
    width: 20px;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip-trigger .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-trigger:hover .tooltip {
    visibility: visible;
    opacity: 0.7;
}

.spinner {
    margin-top: 3px;
    margin-left: 15px;
    border: 2px solid white;
    border-top: 2px solid @dark-grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.1s cubic-bezier(0.7, 0.2, 0.3, 0.7) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(400deg);
    }
}

@media all and (max-width: 1100px) {
    #convert-area {
        flex-direction: column;
        width: 100%;
    }

    #text-entry {
        height: 180px;
        margin-right: 0;
        margin-bottom: 5px;
    }

    #result-text {
        height: 180px;
    }

    #button-area {
        flex-direction: column;
        border: 2px solid @light-grey;
        border-radius: @border-radius;
    }

    .button-group {
        border: none;
    }

    #left-button-group {
        border: none;
    }

    #right-button-group {
        border: none;
    }

    #pagewrap {
        width: 90%;
    }

    #main-nav {
        width: 90%;
    }

    #copy {
        margin-left: -5px;
        margin-top: 200px;
    }

    .tooltip {
        font-size: 11px;
        width: 100px;
        left: 80%;
    }

}

@media all and (max-width: 550px) {
    .button {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .button-group-headline {
        margin-bottom: 10px;
    }

    .to-button-group-headline {
        margin-bottom: 10px;
    }

    #button-area {
        flex-direction: row;
    }

    #left-button-group {
        display: flex;
        flex-direction: column;
    }

    #right-button-group {
        display: flex;
        flex-direction: column;
    }
}
