@import "vars";

.spinner {
  position: relative;
  border: 2px solid @dark-grey;
  border-top: 2px solid white;
  top: 2px;
  left: 5px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: inline-block;
  animation: spin 1.1s cubic-bezier(0.7, 0.2, 0.3, 0.7) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(400deg);
  }
}
